<div role="button" class="lottie-icon {{@containerClass}}" {{did-insert this.doAnimation}}>
	{{#if @direction}}
		<div {{did-insert (fn this.click 1)}} />
	{{else}}
		<div {{did-insert (fn this.click -1)}} />
	{{/if}}
</div>


